PyWavelets
opencv-python
seaborn
Gunicorn
selenium
seaborn
scikit-learn
requests
pytz
pyttsx3
python-dotenv
pandas
matplotlib
Flask
Flask-Cors 
google-ai-generativelanguage
google-auth
google-generativeai
Pillow
translators
numpy
json5
joblib